@import 'variable';
@import '../web/dropzone/dropzone';
@import '../web/cyber-button';

:root {
	color-scheme: dark;
}

html {
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1rem;

	line-height: 1.6rem;
	margin: 0;
	word-wrap: break-word;
	color: #e4e6eB;
	background: radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px,
	linear-gradient(#282828, #282828);
	background-size: 16px 16px;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
}

.model {
	line-height: 1.5em;
	position: relative;
	margin: 1rem;
	padding: 1rem;
	border-radius: $border-radius;
	background: #242526;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}

.model-header {
	text-align: center;
	letter-spacing: .1em;
	text-shadow: 1px 1px 1px #000000;
}

.model-log {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	border-radius: $border-radius;
	background: #1e1e1e;
}

.model-buttons {
	display: flex;
	justify-content: center;
	gap: 1rem;

	> .cyber-button {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}
